.options-container
{
    margin: 0 auto;
    width:150px;    
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    button 
    {
        margin: 2px;
    }
}
.alien-player-colour {
    height: 50px;
    width: 50px;
}
.red {
    background: red;
}
.green {

}
.blue {

}
.yellow {

}