<div class="container-fluid">
    <div class="row">
        <div class="options-container">
            <h3>Difficulty</h3>
            <button type="button" class="btn btn-info" *ngFor="let option of difficultyEnum | enumToArray"
                (click)="selectDifficulty(option)">
                {{option}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="alien-player-colour btn-group btn-group-toggle">
            <label class="btn-primary" ngbButtonLabel *ngFor="let colour of colours" [ngClass]="colour">
                <input type="checkbox" ngbButton>
            </label>
        </div>
    </div>
</div>