// @import '../node_modules/bootstrap-scss/_functions';
// @import '../node_modules/bootstrap-scss/_variables';


$body-color: #fff;
$body-bg: rgb(35, 35, 35);

@import '../node_modules/bootstrap-scss/bootstrap.scss';

$alienPlayerRed: red;
$alienPlayerGreen: Green;
$alienPlayerBlue: blue;
$alienPlayerYellow: yellow;


