a {
    color: #fff;
}

input[type="checkbox"] {
    box-sizing: border-box;
    content: "";
    padding: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #FFFFFE;
    border-radius: 2px;
    margin: 5px;
}








